* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: none;
  color: white;
  background-color: var(--link-color);
}
:root {
  --link-color: #1abf6c;
  --main-text-color: #555555;
  --dark-text-color: #111;
  font-size: 20px;
  --lavender-blush: #eee5e9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f0f0;
}
