/* reset */

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
}
:root {
  --link-color: #1abf6c;
  --main-text-color: #555555;
  --dark-text-color: #111;
  font-size: 20px;
}
.avatar-image {
  border-radius: 50%;
  border: 4px solid white;
  background: #fff;
  object-fit: cover;
  filter: brightness(1.35);
}
.border {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--dark-text-color);
}

.bio-card {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  min-width: 325px;
  padding-top: 1rem;
}

p > a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 1rem;
  text-align: center;
  line-height: 1.5rem;
}
h1 {
  margin: 1rem 0;
  color: #111;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f0f0;
}

.social a {
  margin: 0.2rem;
}
.social svg {
  width: 24px;
  height: 24px;
}
.social {
  margin: 1rem;
}

.social img {
  width: 25px;
}

.social a:hover {
  opacity: 50%;
  text-decoration: none;
}
