<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work Timeline</title>
    <link rel="stylesheet" href="global.css" />
  </head>
  <body>
    <article class="event">
      <div class="description">
        <div class="text-wrapper">
          <h3>June 2016</h3>
          <p>
            I wrote and edited a video essay on deforestation and population
            growth. It came 2nd in the
            <a
              href="https://populationeducation.org/resource/world-of-7-billion-website/"
              >World of 7 Billion
            </a>
            video contest, winning a cash prize of 500$
          </p>
        </div>
      </div>
      <div class="illustration">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/gJbzGhb-hzk"
        >
        </iframe>
      </div>
    </article>

    <article class="event">
      <div class="description">
        <div class="text-wrapper">
          <h3>June 2016</h3>
          <p>
            I wrote and edited a video essay about public health health which
            came 3rd in the
            <a
              href="https://populationeducation.org/resource/world-of-7-billion-website/"
              >World of 7 Billion
            </a>
            video contest, winning a prize of 250$
          </p>
        </div>
      </div>
      <div class="illustration">
        <iframe
          width="420"
          height="315"
          src="https://www.youtube.com/embed/4MR7GopzJ2s"
        >
        </iframe>
      </div>
    </article>
  </body>

  <style>
    body {
      margin: 0;
      line-height: 1.7em;
      font-weight: 400;
    }

    .text-wrapper {
      max-width: 400px;
      min-width: 200px;
    }

    article {
      background-color: var(--lavender-blush);
      width: 100%;
      padding: 2rem;
      display: flex;
      justify-content: space-around;
    }

    /* prevent iframe from overflowing */
    iframe {
      max-width: 100%;
      display: block;
    }

    @media (max-width: 768px) {
      /* Adjust breakpoint as needed */
      article {
        display: flex;
        flex-direction: column;
      }

      .illustration {
        order: 2;
        display: grid;
        place-content: center;
      }

      .description {
        order: 1;
      }

      .text-wrapper {
        order: 1;
      }
    }

    h3 {
      padding-bottom: 1em;
    }

    article .description {
      padding: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .event:nth-child(odd) {
      background-color: rgb(241, 242, 246);
    }

    .event:nth-child(even) {
      background-color: #fff;
    }

    /* flow on the page independent of semantic order */
    /* Apply ordering until a certain breakpoint */
    @media (min-width: 768px) {
      .event:nth-child(1) .illustration {
        order: 0;
      }

      .event:nth-child(1) .description {
        order: 1;
      }
    }

    /* Reset ordering for smaller screens */
    @media (max-width: 767px) {
      .event .illustration,
      .event .description {
        order: initial;
      }
    }
  </style>
</html>
